*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box; 
}
html,body{
    height: 100%;
    width: 100%;
}
main{
  height: 250%;
  width: 100%;
}
header{
    background-color:#032e1d;
    color: white;
    /* margin: 5px; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 150px; */
}
 nav{
margin-left: auto;
margin: 5px 2px;
font-size: 22px;
font-weight: 100;
display: flex;
gap: 25px;
} 
.logo {
  /* display: flex; */
  align-items: center; 
}
.logo img {
  height: 45px;
  margin-right: 10px;
}
nav h5{
    color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;

}
nav h5:hover{
    text-decoration: underline;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-box {
    display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 4px 8px;
  margin-left: auto;

}
.search-box input{
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  width: 300px;
}
.search-box i{
 color: #032e1d;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}
.profile i{
    font-size: 22px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}
.profile i:hover{
  scale: 1.1;
  color: #dcdcdc;
}
.section1{
    /* display: flex; */
    background-color:white;
    padding: 20px;
}
.lines{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
    gap: 10px;
    font-size: 18px;
    color: #032e1d;
}
.lines p{font-size: 100px;
    
}
.section1-button{
    display: flex;
    align-items: first baseline;
    justify-content:center;
    gap: 20px;
}
.know-more{
    font-size: 15px;
    border-radius: 50px;
    background-color: #032e1d;
    color: white;
    padding: 10px;
    margin-top: 2px;
}
.cart-btn{
    font-size: 15px;
    border-radius: 50px;
    background-color: #032e1d;
    color: white;
    padding: 10px;
}
.section1-button :hover{
    scale: 1.1;
    text-decoration: solid;
    color: #dcdcdc;
}
.section2{
  position: relative;
  text-align: center;
  justify-content: center;
  color: rgb(31, 8, 8);
}



.section2 img{
  height: 260px;
  margin: 10px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
}
.bg-image{
  width: 80%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(70%);
}
.imgtext{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 46%;
  left: 8%;
  transform: translateY(-50%);
}
.imgtext h6{
font-size: 25px;
margin-bottom: 5px;
}
.imgtext h4{
  font-size: 40px;
  margin-top: 32px;
}
.imgtext p{
  font-size: 18px;
  margin-top: 30px;
}

.imgtext  button{
  background-color: #032e1d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 1150px;
  font-size: 15px;
}
.mug{
  position: absolute;
  bottom: 10%;
  left: 4%;
  transform: translateX(-50%);
  width:140px;
}
h2{
  margin: 30px 150px;
  font-size: 35px;
  color:rgb(31, 8, 8) ;
  font-weight: 600;
  text-transform:capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.section3{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 190px;
}
.section3 img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 10px; 
}
.section3-img{
  display: flex;
  align-items: center;
  justify-content:center;
  gap:250px; 
}
.section3-img h6{
  font-size: 20px;
}
/* header{
  height: 40%;
  width: 100%;
  background-color: #dadada;
} */
.section4{
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 700px;
  margin-top: 100px;
  background-color: #dadada;
  height: 100px;
  width: 100%;
}
.section4 h1{
  color: black;
  font-size: 35px;
}
.section4 h6{
  color: rgb(14, 87, 14);
  font-size: 24px;
}
.section5{
  height: 400px;
  width: 100%;
  background-color: #dadada;
}
.section5 img{
  height: 350px;
  width: 1200px;
  margin-left: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

}
.section5 button{
  position: absolute;
  align-items: center;
  justify-content: center;
  top:148%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 900;
  padding: 10px 20px;
  border-radius: 20px;
} 
.section5 p{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 165%;
  left: 13%;
  transform: translateY(-50%);
  z-index: 900;
  font-size: 25px;
  color: white;
} 
.section5 h1{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 160%;
  left: 13%;
  transform: translateY(-50%);
  z-index: 900;
  font-size: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
} 
.section5 button1{
  position: absolute;
  align-items: center;
  justify-content: center;
  top:175%;
  left: 15%;
  transform: translateY(-50%);
  color: black;
  background-color: white;
  z-index: 900;
  padding: 10px 20px;
  border-radius: 20px;
}
.section6{
  margin: 100px 0px;
  display: flex;
  align-items: center;
  background-color: #032e1d;
  width: 100%;
  height: 20%;
  
}
.logo2{
  padding: 30px;
  
}
.page1{
 align-items: center;
 margin: 0px;
 background-color: #032e1d;
}
.page1 h2{
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 100px;
}
.page1 h3{
  font-size: 15px;
  font-weight: 200;
  padding: 0px 145px;
  color: white;
  line-height: 40px;

}
.page2{
  align-items: center;
 
 background-color: #032e1d;

}
.page2 h2{
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 55px;
  /* padding: 0px 10px 160px 30px; */
 
}
.page2 h3{
  font-size: 15px;
  font-weight: 200;
  padding: 0px 145px;
  line-height: 40px;
  color: white;
  margin-bottom: 10px;
  margin-left: 40px;

}
.page3 h2{
  font-size: 20px;
  font-weight: 700;
  color: white; 
  /* font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 80px;
  padding: 0px 10px 160px 30px; */
}
.page3 h3{font-size: 15px;
  font-weight: 200;
  padding: 0px 145px;
  line-height: 40px;
  color: white;


}